dist:
  name: otel-collector-image
  description: Custom OTel collector image build
  output_path: ./otel-collector-image
  otelcol_version: 0.88.0
receivers:
  - gomod:
      go.opentelemetry.io/collector/receiver/otlpreceiver v0.88.0
  - gomod:
      github.com/open-telemetry/opentelemetry-collector-contrib/receiver/httpcheckreceiver v0.88.0

processors:
  - gomod:
      go.opentelemetry.io/collector/processor/batchprocessor v0.88.0
  - gomod:
     go.opentelemetry.io/collector/processor/memorylimiterprocessor v0.88.0

exporters:
  - gomod:
      go.opentelemetry.io/collector/exporter/otlpexporter v0.88.0
  - gomod:
      go.opentelemetry.io/collector/exporter/otlphttpexporter v0.88.0
  - gomod:
      github.com/open-telemetry/opentelemetry-collector-contrib/exporter/signalfxexporter v0.88.0
